<!DOCTYPE html>
<html>
<head>
    <title>Add Emergency Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></head>
<body>
    {% include 'navbar.html' %}

    <form method="POST">
        <h3>Add Emergency Contact</h3>

        <label for="contact_number">Contact Number:</label>
        <input type="text" name="contact_number" required><br><br>
        
        <input type="submit" value="Add Contact">
    </form>
</body>
</html>
